{% extends "layout.html" %}
{% block content %}
<div class="topic">
    <div>
        <h3>{{ammo[2]}}</h3>
        <h5>{{ammo[7]}}</h5>
    </div>

        <div class="topic-box">
            <img src="/static/images/ballistics/ammunition/{{ammo[6]}}" class="topic-icon">
            <a href="http://127.0.0.1:5000/ammunition?search={{ammo[1]}}">
                <h6 class="topic-row">Caliber <br> <span class="lighter">{{ammo[1]}}</span></h6>
            </a>
            <h6 class="topic-row">Velocity (m/s) <br> <span class="lighter">{{ammo[3]}}</span></h6>
            <h6 class="topic-row">Damage <br> <span class="lighter">{{ammo[4]}}</span></h6>
            <h6 class="topic-row">Penetration <br> <span class="lighter">{{ammo[5]}}</span></h6>
        </div>
</div>
{% endblock %}