{% extends "partials/layout.html" %}
{% block content %}
<h2>Ammunition</h2>
<h4>
    Ammunition is what loads into magazines or into internal chambers.
    Most weapons use cartridges except shotguns which accept shells,
    and the RPG-7 which is loaded with a PG-7V.
    the most common variants of ammuntion are FMJ Tracer and Armor Piercing rounds.
</h4>

{% include 'partials/searchbar.html' %}

{% set is_easter_egg = search and search|lower in easter_egg_queries %}
{% if params %}
{% for ammo in params %}
<div class="row">
    <a href="{{ url_for('ammo', id=ammo[0]) }}">
        <img src="/static/images/ballistics/ammunition/{{ammo[6]}}" class="icon">
    </a>

    <div>
        <h3>{{ammo[2]}}</h3>
        <h5>{{ammo[7]}}</h5>
    </div>
</div>
{% endfor %}
{% elif not is_easter_egg %}
<div class="row">
    <img src="/static/images/error.png" class="icon">

    <div>
        <h3>No results found</h3>
        <h5>Try another search, or maybe stop trying to break my database.</h5>
    </div>
</div>
{% endif %}
{% include 'partials/easter_eggs.html' %}
{% endblock %}