{% extends "partials/layout.html" %}
{% block content %}
<h2>Attachments</h2>
<h4>
    Placeholder Text
</h4>

{% include 'partials/searchbar.html' %}

{% set is_easter_egg = search and search|lower in easter_egg_queries %}
{% if optics or muzzles or extras %}
<!-- Optics sub-category -->
{% if optics %}
<h2>Optics</h2>
{% for optic in optics %}
<div class="row">
    <a href="{{ url_for('attachment', id=optic[0]) }}">
        <img src="/static/images/ballistics/attachments/{{optic[9]}}" class="icon">
    </a>

    <div>
        <h3>{{optic[1]}}</h3>
        <h5>{{optic[8]}}</h5>
    </div>
</div>
{% endfor %}
{% endif %}
<!-- Muzzle attachemnts sub-category -->
{% if muzzles %}
<h2>Muzzle attachments</h2>
{% for muzzle in muzzles %}
<div class="row">
    <a href="{{ url_for('attachment', id=muzzle[0]) }}">
        <img src="/static/images/ballistics/attachments/{{muzzle[9]}}" class="icon">
    </a>

    <div>
        <h3>{{muzzle[1]}}</h3>
        <h5>{{muzzle[8]}}</h5>
    </div>
</div>
{% endfor %}
{% endif %}
<!-- Extras sub-category -->
{% if extras %}
<h2>Extras</h2>
{% for extra in extras %}
<div class="row">
    <a href="{{ url_for('attachment', id=extra[0]) }}">
        <img src="/static/images/ballistics/attachments/{{extra[9]}}" class="icon">
    </a>

    <div>
        <h3>{{extra[1]}}</h3>
        <h5>{{extra[8]}}</h5>
    </div>
</div>
{% endfor %}
{% endif %}
{% elif not is_easter_egg %}
<div class="row">
    <img src="/static/images/error.png" class="icon">

    <div>
        <h3>No results found</h3>
        <h5>Try another search, or maybe stop trying to break my database.</h5>
    </div>
</div>
{% endif %}
{% include 'partials/easter_eggs.html' %}
{% endblock %}