{% extends "partials/layout.html" %}
{% block content %}
<h2>Frequently asked questions</h2>

<h4>
    A selection of frequently asked questions, 
    with answers provided by the wiki team. 
    Please stop asking these questions, 
    They've been repeated thousands of times.
</h4>

{% include 'partials/searchbar.html' %}


{% set is_easter_egg = search and search|lower in easter_egg_queries %}
{% if info %}
{% for category, questions in info.items() %}
{% if questions %}
<h2>{{ category }}</h2>
{% endif %}
{% for question in questions %}
<div class="faq-row">
    <div>
        <h3>{{question[1]}}</h3>
        <h5>{{question[3]}}</h5>
    </div>
</div>
{% endfor %}
{% endfor %}
{% elif not is_easter_egg %}
<div class="question-row">
    <img src="/static/images/error.png" class="icon">

    <div>
        <h3>No results found</h3>
        <h5>Try another search, or maybe stop trying to break my database.</h5>
    </div>
</div>
{% endif %}
{% include 'partials/easter_eggs.html' %}
{% endblock %}