{% extends "partials/layout.html" %}
{% block content %}
<h2>Helmets</h2>
<h4>
    Helmets are protective equipment that are built to withstand shrapnel and gunfire.
    Getting shot in the head will most often kill you instantly, so bringing a helmet is essential for combat in the wasteland.
    Most helmets allow for the attachments of visors and night vision, having adequate face protecion is highly recommended if you want to survive.
    While helmets can save you on multiple occassions they will not stop you from taking massive damage due to the headshot multiplier.
</h4>

{% include 'partials/searchbar.html' %}

{% if params %}
{% for helmet in params %}
<div class="row">
    <a href="/helmet/{{helmet[0]}}">
        <img src="/static/images/gear/helmets/{{helmet[10]}}" class="icon">
    </a>

    <div>
        <h3>{{helmet[1]}}</h3>
        <h5>{{helmet[9]}}</h5>
    </div>
</div>
{% endfor %}
{% elif %}
<div class="row">
    <img src="/static/images/error.png" class="icon">

    <div>
        <h3>No results found</h3>
        <h5>Try another search, or maybe stop trying to break my database.</h5>
    </div>
</div>
{% endif %}
{% include 'partials/easter_eggs.html' %}
{% endblock %}