{% extends "partials/layout.html" %}
{% block content %}
<h2>About</h2>
<h4>
    Survive in a post-apocalyptic world after a nuclear power plant disaster.
    Complete tasks and scavenge for superior equipment.
    Stick with a few in your faction, others cannot be trusted.
    It's up to you to decide how you leave your legacy behind.
</h4>

<a href="https://www.roblox.com/games/7336302630/Project-Delta" class="play-button">play</a>

<iframe src="https://www.youtube.com/embed/M727zkl0sDw?autoplay=1&mute=1&controls=0&loop=1"></iframe>

{% endblock %}