{% extends "partials/layout.html" %}
{% block content %}
<h2>Junk</h2>
<h4>
    Junk items that are found throughout the wasteland, the most common form of loot. 
    Despite being classified as junk, the value and rarity of junk items vary wildly. 
    Most junk can be sold off to traders to earn quick rubles, 
    while rarer and more valuable items are regularly used to barter for exclusive equipment at different traders.
</h4>

{% include 'partials/searchbar.html' %}

{% set is_easter_egg = search and search|lower in easter_egg_queries %}
{% if params %}
{% for item in params %}
<div class="row">
    <a>
        <img src="/static/images/items/junk/{{item[7]}}" class="icon">
    </a>

    <div>
        <h3>{{item[1]}}</h3>
        <h5>{{item[6]}}</h5>
    </div>
</div>
{% endfor %}
{% elif not is_easter_egg %}
<div class="row">
    <img src="/static/images/error.png" class="icon">

    <div>
        <h3>No results found</h3>
        <h5>Try another search, or maybe stop trying to break my database.</h5>
    </div>
</div>
{% endif %}
{% include 'partials/easter_eggs.html' %}
{% endblock %}