{% extends "partials/layout.html" %}
{% block content %}
<h2>{{title | replace("_", " ") }}</h2>
<h4>
    {{description[0]}}
</h4>

{% include 'partials/searchbar.html' %}

{% if admin %}
<h4>Admin type shi</h4>
{% endif %}

<!-- check if dictionary values are empty, store has_items check as a namespace -->
{% set ns = namespace(has_items=false) %}
{% for category, items in grouped_items.items() %}
    {% if items %}
        {% set ns.has_items = true %}
    {% endif %}
{% endfor %}

{% if ns.has_items %}
    {% for category, items in grouped_items.items() %}
        {% if items %}
            {% if category != "generic" %}
                <h2>{{ category if category.endswith('s') else category ~ 's' }}</h2>
            {% endif %}
            {% for item in items %}
                <div class="row">
                    <a href="{{ url_for(tags[2], id=item[0]) }}">
                        <img src="/static/images/{{tags[0]}}/{{tags[1]}}/{{item[3]}}" class="icon">
                    </a>
                    <div>
                        <h3>{{item[1]}}</h3>
                        <h5>{{item[2]}}</h5>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% else %}
    <div class="row">
        <img src="/static/images/error.png" class="icon">
        <div>
            <h3>No results found</h3>
            <h5>Try another search, or maybe stop trying to break my database.</h5>
        </div>
    </div>
{% endif %}
{% endblock %}