{% extends "partials/layout.html" %}
{% block content %}
<h2>Leg Armor</h2>
<h4>
    Leg armor protects your legs. 
    If you don't have legs, you can buy them on Temu or a second-leg store. 
    What the hell is this description?
</h4>

{% include 'partials/searchbar.html' %}

{% set is_easter_egg = search and search|lower in easter_egg_queries %}
{% if params %}
{% for armor in params %}
<div class="row">
    <a>
        <img src="/static/images/gear/leg armor/{{armor[3]}}" class="icon">
    </a>

    <div>
        <h3>{{armor[1]}}</h3>
        <h5>{{armor[2]}}</h5>
    </div>
</div>
{% endfor %}
{% elif not is_easter_egg %}
<div class="row">
    <img src="/static/images/error.png" class="icon">

    <div>
        <h3>No results found</h3>
        <h5>Try another search, or maybe stop trying to break my database.</h5>
    </div>
</div>
{% endif %}
{% include 'partials/easter_eggs.html' %}
{% endblock %}