{% extends "partials/layout.html" %}
{% block content %}
<h2>Admin Login</h2>
<hr><br>

<div class="login-box">
    {% if not admin %}
    <form action="/loginregister" method="post">
        <h7>Username*</h7>
        <input type="text" name="username" placeholder="Username" minlength="1" maxlength="{{user_max_length}}" required class="login">
        <h7>Password*</h7>
        <input type="password" name="password" placeholder="Password" minlength="1" maxlength="{{pass_max_length}}" required class="login">
        <input type="submit" value="Log in" class="login-submit">
    </form>
    {% endif %}
    {% if message %}
        <h8>{{message}}</h8>
    {% endif %}
</div>

{% endblock %}