{% extends "partials/layout.html" %}
{% block content %}
<h2>Magazines</h2>
<h4>
    Magazines are devices that store and feed ammunition into a weapon. 
    Each magazine only accepts a certain caliber, and are only compatible with specific guns.
    The two most common variants of magazine are the standard box mag, and the higher capacity drum mag.
</h4>

{% include 'partials/searchbar.html' %}

{% set is_easter_egg = search and search|lower in easter_egg_queries %}
{% if params %}
{% for magazine in params %}
<div class="row">
    <a href="{{ url_for('magazine', id=magazine[0]) }}">
        <img src="/static/images/ballistics/magazines/{{magazine[8]}}" class="icon">
    </a>

    <div>
        <h3>{{magazine[1]}}</h3>
        <h5>{{magazine[7]}}</h5>
    </div>
</div>
{% endfor %}
{% elif not is_easter_egg %}
<div class="row">
    <img src="/static/images/error.png" class="icon">

    <div>
        <h3>No results found</h3>
        <h5>Try another search, or maybe stop trying to break my database.</h5>
    </div>
</div>
{% endif %}
{% include 'partials/easter_eggs.html' %}
{% endblock %}