{% extends "partials/layout.html" %}
{% block content %}
<div class="topic">
    <div>
        <h3>{{magazine[1]}}</h3>
        <h5>{{magazine[7]}}
            <br><br>
            <div class="link-list">
                <h3>Compatible Weapons</h3>
                <h5>
                    {% for weapon in weapons %}
                    <a href="http://127.0.0.1:5000/weapon/{{weapon[0]}}">
                        <i class="fa-solid fa-caret-right"></i> {{weapon[1]}}
                    </a>
                    <br>
                    {% endfor %}
                </h5>
            </div>
        </h5>
    </div>


        <div class="topic-box">
            <img src="/static/images/ballistics/magazines/{{magazine[8]}}" class="topic-icon">
            <a href="http://127.0.0.1:5000/ammunition?search={{magazine[2]}}">
                <h6 class="topic-row">Caliber <br> <span class="lighter">{{magazine[2]}}</span></h6>
            </a>
            <h6 class="topic-row">Capacity <br> <span class="lighter">{{magazine[3]}}</span></h6>
            <h6 class="topic-row">Horizontal recoil <br> <span class="lighter">{{magazine[4]}}</span></h6>
            <h6 class="topic-row">Vertical recoil <br> <span class="lighter">{{magazine[5]}}</span></h6>
            <h6 class="topic-row">Mobility <br> <span class="lighter">{{magazine[6]}}</span></h6>
        </div>
</div>
{% endblock %}