{% extends "partials/layout.html" %}
{% block content %}
<h2>Weapon Parts</h2>
<h4>
    Core parts make weapons functional. These include front assemblies, handles, and stocks. 
    The difference between standard and high-end parts is drastic, 
    therefore it's highly recommended that you modify your gun with the best parts you have on hand.
</h4>

{% include 'partials/searchbar.html' %}

{% set is_easter_egg = search and search|lower in easter_egg_queries %}
{% if fronts or handles or stocks %}
<!-- fronts -->
{% if fronts %}
<h2>Front Assemblies</h2>
{% for front in fronts %}
<div class="row">
    <a href="{{ url_for('part', id=front[0]) }}">
        <img src="/static/images/ballistics/parts/{{front[8]}}" class="icon">
    </a>

    <div>
        <h3>{{front[1]}}</h3>
        <h5>{{front[7]}}</h5>
    </div>
</div>
{% endfor %}
{% endif %}
<!-- handles -->
{% if handles %}
<h2>Handles</h2>
{% for handle in handles %}
<div class="row">
    <a href="{{ url_for('part', id=handle[0]) }}">
        <img src="/static/images/ballistics/parts/{{handle[8]}}" class="icon">
    </a>

    <div>
        <h3>{{handle[1]}}</h3>
        <h5>{{handle[7]}}</h5>
    </div>
</div>
{% endfor %}
{% endif %}
<!-- stocks -->
{% if stocks %}
<h2>Stocks</h2>
{% for stock in stocks %}
<div class="row">
    <a href="{{ url_for('part', id=stock[0]) }}">
        <img src="/static/images/ballistics/parts/{{stock[8]}}" class="icon">
    </a>

    <div>
        <h3>{{stock[1]}}</h3>
        <h5>{{stock[7]}}</h5>
    </div>
</div>
{% endfor %}
{% endif %}
{% elif not is_easter_egg %}
<div class="row">
    <img src="/static/images/error.png" class="icon">

    <div>
        <h3>No results found</h3>
        <h5>Try another search, or maybe stop trying to break my database.</h5>
    </div>
</div>
{% endif %}
{% include 'partials/easter_eggs.html' %}
{% endblock %}