{% extends "layout.html" %}
{% block content %}
<h2>Weapon Parts</h2>
<h4>
    Placeholder Text
</h4>

<form method="get" action="/components">
    <input type="text" name="search" placeholder="Search" value="{{ search }}">
    <button type="submit">Search</button>
</form>

{% set is_easter_egg = search and search|lower in easter_egg_queries %}
{% if params %}
{% for part in params %}
<div class="row">
    <a href="/part/{{part[0]}}">
        <img src="/static/images/ballistics/parts/{{part[7]}}" class="icon">
    </a>

    <div>
        <h3>{{part[1]}}</h3>
        <h5>{{part[5]}}</h5>
    </div>
</div>
{% endfor %}
{% elif not is_easter_egg %}
<div class="row">
    <img src="/static/images/error.png" class="icon">

    <div>
        <h3>No results found</h3>
        <h5>Try another search, or maybe stop trying to break my database.</h5>
    </div>
</div>
{% endif %}
{% include 'partials/easter_eggs.html' %}
{% endblock %}