{% extends "partials/layout.html" %}
{% block content %}
<h2>Chest Rigs</h2>
<h4>
    Chest rigs are worn to protect the torso, some additionally also protect your arms.
    Your torso is the largest target on your body, so bringing a chest rig is essential for survival in the wasteland.
    Some rigs provide extra storage, it's advised to keep items that you need quick access to in your rig such as mags, ammo, or heals.
    Chest rigs absorb most of the shots you'll take in a gunfight, but they are often also the heaviest part of your kit.
</h4>

{% include 'partials/searchbar.html' %}

{% set is_easter_egg = search and search|lower in easter_egg_queries %}
{% if params %}
{% for rig in params %}
<div class="row">
    <a href="{{ url_for('rig', id=rig[0]) }}">
        <img src="/static/images/gear/chest rigs/{{rig[11]}}" class="icon">
    </a>

    <div>
        <h3>{{rig[1]}}</h3>
        <h5>{{rig[10]}}</h5>
    </div>
</div>
{% endfor %}
{% elif not is_easter_egg %}
<div class="row">
    <img src="/static/images/error.png" class="icon">

    <div>
        <h3>No results found</h3>
        <h5>Try another search, or maybe stop trying to break my database.</h5>
    </div>
</div>
{% endif %}
{% include 'partials/easter_eggs.html' %}
{% endblock %}