{% extends "partials/layout.html" %}
{% block content %}
<h2>Chest Rigs</h2>
<h4>
    Chest rigs protect your torso—the largest target on your body—and are essential for survival. 
    Some offer additional arm protection and extra storage for items you need quick-access to. 
    Your rig is often the heaviest part of your kit, pick a balance between protection and mobility.
</h4>

{% include 'partials/searchbar.html' %}

{% set is_easter_egg = search and search|lower in easter_egg_queries %}
{% if params %}
{% for rig in params %}
<div class="row">
    <a href="{{ url_for('rig', id=rig[0]) }}">
        <img src="/static/images/gear/chest rigs/{{rig[11]}}" class="icon">
    </a>

    <div>
        <h3>{{rig[1]}}</h3>
        <h5>{{rig[10]}}</h5>
    </div>
</div>
{% endfor %}
{% elif not is_easter_egg %}
<div class="row">
    <img src="/static/images/error.png" class="icon">

    <div>
        <h3>No results found</h3>
        <h5>Try another search, or maybe stop trying to break my database.</h5>
    </div>
</div>
{% endif %}
{% include 'partials/easter_eggs.html' %}
{% endblock %}