{% extends "partials/layout.html" %}
{% block content %}
<div class="topic">
    <div>
        <h3>{{weapon[1]}}</h3>
        <h5>{{weapon[7]}}
        <br><br>
        {% if optics or attachments or magazines %}
        <div class="link-list">
            <!-- Optics list -->
            {% if optics %}
            <h3>Optics</h3>
            <h5>
                {% for optic in optics %}
                <div class="link-row">
                    <img src="/static/images/ballistics/attachments/{{optic[2]}}" class="link-icon">
                    <a href="{{ url_for('attachment', id=optic[0]) }}">
                        {{optic[1]}}
                    </a>
                </div>
                {% endfor %}
            </h5>
            {% endif %}
            <!-- Muzzles list -->
            {% if muzzles %}
            <h3>Muzzle attachments</h3>
            <h5>
                {% for muzzle in muzzles %}
                <div class="link-row">
                    <img src="/static/images/ballistics/attachments/{{muzzle[2]}}" class="link-icon">
                    <a href="{{ url_for('attachment', id=muzzle[0]) }}">
                        {{muzzle[1]}}
                    </a>
                </div>
                {% endfor %}
            </h5>
            {% endif %}
            <!-- Extras list -->
            {% if extras %}
            <h3>Extras</h3>
            <h5>
                {% for extra in extras %}
                <div class="link-row">
                    <img src="/static/images/ballistics/attachments/{{extra[2]}}" class="link-icon">
                    <a href="{{ url_for('attachment', id=extra[0]) }}">
                         {{extra[1]}}
                    </a>
                </div>
                {% endfor %}
            </h5>
            {% endif %}
            <!-- Magazines list -->
            {% if magazines %}
            <h3>Magazines</h3>
            <h5>
                {% for magazine in magazines %}
                <div class="link-row">
                    <img src="/static/images/ballistics/magazines/{{magazine[2]}}" class="link-icon">
                    <a href="{{ url_for('magazine', id=magazine[0]) }}">
                         {{magazine[1]}}
                    </a>
                </div>
                {% endfor %}
            </h5>
            {% endif %}
        </div>
        {% endif %}
        </h5>
    </div>


        <div class="topic-box">
            <img src="/static/images/ballistics/weapons/{{weapon[8]}}" class="topic-icon">
            <a href="http://127.0.0.1:5000/ammunition?search={{weapon[3]}}">
                <h6 class="topic-row">Caliber <br> <span class="lighter"><i class="fa-solid fa-caret-right"></i> {{weapon[3]}}</span></h6>
            </a>
            <h6 class="topic-row">Firemode <br> <span class="lighter">{{weapon[4]}}</span></h6>
            <h6 class="topic-row">RPM <br> <span class="lighter">{{weapon[5]}}</span></h6>
            <h6 class="topic-row">Durability <br> <span class="lighter">{{weapon[6]}}</span></h6>
        </div>
</div>
{% endblock %}