<div class="ballistics-table">
    <h3>Helmet Chart</h3>
    <h5>
        {% for name, value in helmet_ballistics.items() %}
        <div class="ballistics-row">
            <img src="/static/images/gear/helmets/{{ value [1] }}" class="ballistics-icon">
            <a>
                {{ name }}
            </a>
            <b1>Damage:  {{ value[0] }} <br> Shots to kill: {{ value[2] }}</b1>
        </div>
        {% endfor %}
    </h5>
</div>

<div class="ballistics-table">
    <h3>Visor Chart</h3>
    <h5>
        {% for name, value in visor_ballistics.items() %}
        <div class="ballistics-row">
            <img src="/static/images/gear/visors/{{ value [1] }}" class="ballistics-icon">
            <a>
                {{ name }}
            </a>
            <b1>Damage:  {{ value[0] }} <br> Shots to kill: {{ value[2] }}</b1>
        </div>
        {% endfor %}
    </h5>
</div>

<div class="ballistics-table">
    <h3>Chest Rig Chart</h3>
    <h5>
        {% for name, value in rig_ballistics.items() %}
        <div class="ballistics-row">
            <img src="/static/images/gear/chest rigs/{{ value [1] }}" class="ballistics-icon">
            <a>
                {{ name }}
            </a>
            <b1>Damage:  {{ value[0] }} <br> Shots to kill: {{ value[2] }}</b1>
        </div>
        {% endfor %}
    </h5>
</div>