<div class="ballistics-table">
    <button class="chart-toggle" onclick="toggleChart(this)">Ballistics Chart</button>
    <div class="ballistics-content">
        <h5>
            {% for name, value in ballistics.items() %}
            <div class="ballistics-row">
                <img src="/static/images/ballistics/ammunition/{{ value [1] }}" class="ballistics-icon">
                <a>{{ name }}</a>
                <h4>Damage:  {{ value[0] }} <br> Shots to kill: {{ value[2] }}</h4>
            </div>
            {% endfor %}
        </h5>
    </div>
</div>

<script>
    function toggleChart(button) {
        const content = button.nextElementSibling;
        content.classList.toggle("open");
    }
</script>