<!-- All contributors -->
{% if search|lower == "contributors" %}
<div class="row">
    <img src="/static/images/contributors/solter.png" class="icon">

    <div>
        <h3>Solter</h3>
        <h5>No description</h5>
    </div>
</div>

<div class="row">
    <img src="/static/images/contributors/immured.png" class="icon">

    <div>
        <h3>Immured</h3>
        <h5>Solter's strongest goober, gives good advice.</h5>
    </div>
</div>

<div class="row">
    <img src="/static/images/contributors/winston.png" class="icon">

    <div>
        <h3>Winston</h3>
        <h5>No description</h5>
    </div>
</div>

<div class="row">
    <img src="/static/images/contributors/aabattery.png" class="icon">

    <div>
        <h3>AA Battery</h3>
        <h5>No description</h5>
    </div>
</div>

<div class="row">
    <img src="/static/images/contributors/pokubit.png" class="icon">

    <div>
        <h3>Pokubit</h3>
        <h5>PokuBit draws for game :]</h5>
    </div>
</div>
{% endif %}