{% if search|lower == "zeno" %}
<div class="row">
    <img src="/static/images/contributors/zeno.png" class="icon">

    <div>
        <h3>Zeno</h3>
        <h5>All of this work, just for a school project.</h5>
    </div>
</div>
{% endif %}

{% if search|lower == "pokubit" %}
<div class="row">
    <img src="/static/images/contributors/pokubit.png" class="icon">

    <div>
        <h3>Pokubit</h3>
        <h5>PokuBit draws for game :]</h5>
    </div>
</div>
{% endif %}

{% if search|lower == "immured" %}
<div class="row">
    <img src="/static/images/contributors/immured.png" class="icon">

    <div>
        <h3>Immured</h3>
        <h5>Solter's strongest goober, gives good advice.</h5>
    </div>
</div>
{% endif %}

{% if search|lower == "aa battery" %}
<div class="row">
    <img src="/static/images/contributors/aabattery.png" class="icon">

    <div>
        <h3>AA Battery</h3>
        <h5>Owner of the old PD wiki, made this database possible by providing tester access for the game.</h5>
    </div>
</div>
{% endif %}

<!-- All contributors combined -->
{% if search|lower == "contributors" %}
<div class="row">
    <img src="/static/images/contributors/zeno.png" class="icon">

    <div>
        <h3>Zeno</h3>
        <h5>All of this work, just for a school project.</h5>
    </div>
</div>

<div class="row">
    <img src="/static/images/contributors/pokubit.png" class="icon">

    <div>
        <h3>Pokubit</h3>
        <h5>PokuBit draws for game :]</h5>
    </div>
</div>

<div class="row">
    <img src="/static/images/contributors/immured.png" class="icon">

    <div>
        <h3>Immured</h3>
        <h5>Solter's strongest goober, gives good advice.</h5>
    </div>
</div>

<div class="row">
    <img src="/static/images/contributors/aabattery.png" class="icon">

    <div>
        <h3>AA Battery</h3>
        <h5>Owner of the old PD wiki, made this database possible by providing tester access for the game.</h5>
    </div>
</div>
{% endif %}