<hr>
    <h4>
        <a href="https://discord.gg/projectdelta"><i class="fa-brands fa-discord"></i></a>
        <a href="https://www.youtube.com/@soltergames"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.tiktok.com/@vikings_studio?lang=en"><i class="fa-brands fa-tiktok"></i></a>
        Join the community

        <span class="copyright">&copy;Vikings Studio</span>

        <br><br>
        <a href="{{ url_for('faq') }}" class="footer-info"><i class="fa-solid fa-circle-info"></i>FAQ</a>
        <a class="footer-info"><i class="fa-solid fa-circle-question"></i>Guides</a>
        <a class="footer-info"><i class="fa-solid fa-book"></i>Factions</a>
        
    </h4>