<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PD Database - {{ title }}</title>
    <link rel="stylesheet" href="\static\css\style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="page">
        <header>{% include 'partials/header.html' %}</header>

        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>

                <div class="dropdown">
                    <button class="dropbtn">
                        Ballistics
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <li><a href="{{ url_for('all_weapons') }}">Weapons</a></li>
                        <li><a href="{{ url_for('ammunition') }}">Ammunition</a></li>
                        <li><a href="{{ url_for('all_parts') }}">Parts</a></li>
                        <li><a href="{{ url_for('all_attachments') }}">Attachments</a></li>
                        <li><a href="{{ url_for('all_magazines') }}">Magazines</a></li>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">
                        Gear
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <li><a href="{{ url_for('all_helmets') }}">Helmets</a></li>
                        <li><a href="{{ url_for('all_visors') }}">Visors</a></li>
                        <li><a href="{{ url_for('all_rigs') }}">Chest rigs</a></li>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">
                        Items
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <li><a href="{{ url_for('all_consumables') }}">Consumables</a></li>
                        <li><a href="{{ url_for('all_items') }}">Junk</a></li>
                        <li><a href="{{ url_for('all_containers') }}">Lootable Containers</a></li>
                    </div>
                </div>

              </ul>
        </nav>

        <main>{% block content %}{% endblock %}</main>
        <hr>
        <h4>
            <a href="https://discord.gg/projectdelta"><i class="fa-brands fa-discord"></i></a>
            <a href="https://www.youtube.com/@soltergames"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.tiktok.com/@vikings_studio?lang=en"><i class="fa-brands fa-tiktok"></i></a>
            Join the community
        </h4>

        <footer>&copy;Solter</footer>
    </body>
    </div>
</html>