<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PD Database - {{ title }}</title>
    <link rel="stylesheet" href="\static\css\style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="page">
        <header>{% include 'partials/header.html' %}</header>

        <main>{% block content %}{% endblock %}</main>
        <hr>
        <h4>
            <a href="https://discord.gg/projectdelta"><i class="fa-brands fa-discord"></i></a>
            <a href="https://www.youtube.com/@soltergames"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.tiktok.com/@vikings_studio?lang=en"><i class="fa-brands fa-tiktok"></i></a>
            Join the community
            <span class="copyright">&copy;Solter</span>
        </h4>
    </body>
    </div>
</html>