{% extends "partials/layout.html" %}

{% block content %}
<h2>Add Weapon</h2>
<hr><br>

<div class="login-box">
    <form method="post">
        <!-- Name -->
        <label for="weapon_type">Weapon Name:</label>
        <input type="text" name="name" id="name" required>
        <br><br>

        <!-- Weapon Type -->
        <label for="weapon_type">Weapon Type:</label>
        <select name="weapon_type" id="weapon_type" required>
            {% for type in weapon_types %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
        <br><br>

        <!-- Caliber -->
        <label for="calibers">Caliber:</label>
        <select name="calibers" id="calibers">
            {% for id, name in calibers %}
                <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>
        <br><br>

        <!-- Fire mode -->
        <label for="fire_mode">Fire Mode:</label>
        <input type="text" name="fire_mode" id="fire_mode" required>
        <br><br>

        <!-- RPM -->
        <label for="RPM">Rounds per Minute:</label>
        <input type="number" name="RPM" id="RPM" required>
        <br><br>

        <!-- Durability -->
        <label for="durability">Durability:</label>
        <input type="number" name="durability" id="durability" required>
        <br><br>

        <!-- Damage Multiplier -->
        <label for="dmg_mult">Damage Multiplier:</label>
        <input type="number" step="0.01" name="dmg_mult" id="dmg_mult" required>
        <br><br>

        <!-- Description -->
        <label for="description">Description:</label><br>
        <textarea name="description" id="description" rows="4" cols="40" maxlength="150" required></textarea>
        <br><br>

        <div class="admin-content">
            <div class="admin-column">Fronts* <br><br>
                {% for part in parts %}
                    {% if part[2] == 'Front' %}
                        <input type="checkbox" name="fronts" value="{{ part[0] }}">
                        <div class="label-content">{{part[1]}}</div>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="admin-column">Handles* <br><br>
                {% for part in parts %}
                    {% if part[2] == 'Handle' %}
                        <input type="checkbox" name="handles" value="{{ part[0] }}">
                        <div class="label-content">{{part[1]}}</div>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="admin-column">Stocks* <br><br>
                {% for part in parts %}
                    {% if part[2] == 'Stock' %}
                        <input type="checkbox" name="stocks" value="{{ part[0] }}">
                        <div class="label-content">{{part[1]}}</div>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="admin-content">
            <div class="admin-column">Optics* <br><br>
                {% for attachment in attachments %}
                    {% if attachment[2] == 'Optic' %}
                        <input type="checkbox" name="fronts" value="{{ attachment[0] }}">
                        <div class="label-content">{{attachment[1]}}</div>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="admin-column">Muzzles* <br><br>
                {% for attachment in attachments %}
                    {% if attachment[2] == 'Muzzle' %}
                        <input type="checkbox" name="handles" value="{{ attachment[0] }}">
                        <div class="label-content">{{attachment[1]}}</div>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="admin-column">Extras* <br><br>
                {% for attachment in attachments %}
                    {% if attachment[2] == 'Extra' %}
                        <input type="checkbox" name="stocks" value="{{ attachment[0] }}">
                        <div class="label-content">{{attachment[1]}}</div>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <label for="description">Image</label><br>
        <input type="file" name="header_picture" accept="image/*" required>
        <br><br><br>

        <input type="submit" value="Add Weapon" class="login-submit">
    </form>
</div>
{% endblock %}